.teamList{
    border-radius: 12px;
    text-align: center;
    float: left;
    width: 250px;
    background-color: antiquewhite;
    padding: 30px;
    margin: 25px;

    }
    .bannerStyle{
        color: rgb(215, 230, 19);
        font-size: 60px;
        text-shadow: 5px 5px #ff0000;;
        text-align: center;
        padding-top: 100px;
        height: 100px;
        margin-top: -400px;
        
    }